body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .nav.navbar-nav
{
        list-style-type: none;
        margin: 0px;
        float: right;
        position: relative;
        right: 20px;
        top: 85px; 
        left: 10px;
        padding: 10px;
        width: 83%; 
}
.nav.navbar-nav li
{
      position: relative;
      margin-left:30px;
      right:10px;
      display: inline-block;
      font-family: 'Ubuntu',sans-serif;
}